// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;

//576
@mixin sm { @media (min-width: #{$screen-sm}) {@content;} }
//768
@mixin md { @media (min-width: #{$screen-md}) {@content;} }
//992
@mixin lg { @media (min-width: #{$screen-lg}) {@content;} }
//1200
@mixin xl { @media (min-width: #{$screen-xl}) {@content;} }